body, button, input, optgroup, select, textarea {
    font-family: 'Roboto', sans-serif;
}


/* login */

#login {
    margin: -151px auto;
    width: 500px;
    position: relative;
    top: 50vh;
}


/* layout */

#content {  
    display: flex;
    flex-wrap: wrap;
}

#side {
    background-color: #f8f8f8;
}

#main {
    flex: 1;
    padding: 20px 20px 20px 300px;
    overflow: auto;
}

.sidenav .divider {
    margin: inherit;
}

li.logo {
    background-image: url(entel-peru.jpg);
    height: 270px;
    background-size: cover;
}


/* fix */

.modal {
    width: 90%;
}

.row {
    margin-bottom: 0;
}

table td:first-child, table th:first-child {
    width: 300px !important;
    display: block;
    text-align: left !important;
}

table td, table th {
    padding: 6px 2px;
}

table {
    margin: 20px 0;
}

table input:not([type]), 
table input[type=text]:not(.browser-default), 
table input[type=password]:not(.browser-default), 
table input[type=email]:not(.browser-default), 
table input[type=url]:not(.browser-default), 
table input[type=time]:not(.browser-default), 
table input[type=date]:not(.browser-default), 
table input[type=datetime]:not(.browser-default), 
table input[type=datetime-local]:not(.browser-default), 
table input[type=tel]:not(.browser-default), 
table input[type=number]:not(.browser-default), 
table input[type=search]:not(.browser-default), 
table textarea.materialize-textarea {
    height: inherit;
    margin: inherit;
    font-size: 14px;
}

table input[type="text"] {
    width: 36px!important;
    text-align: center;
}

ul {
    margin-top: 0;
}

.preloader-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -29px;
    margin-top: -29px;
}